.logo {
      width: 80px; position: absolute; top: 25px;
      padding-left:10px;
       }

/* Navigation dropdown menu start*/
.nav{
  z-index:99999;
}

.entirenavibar{
  background-color:rgb(56, 56, 56);
  color:honeydew;
  padding:10px;
  margin:0px;
  z-index:99999;
  display:block;
  transition: top 0.3s;
}

.footerbar{
  text-align: center;
  color: white;
  background-color: rgb(56, 56, 56);
}

.navibar{
  padding-right:10px;
  margin:0;
  position:absolute;
  top: 35px;
  right: 100px;
  text-decoration:none
}
.navihead{
  color:#fff;
  text-decoration:none
}
.navlist{
  font-size: 24px;
}
.dropdown {
  float: left;
  overflow: hidden;
  z-index:99999;
}

.dropdown .dropbtn {
  font-size: 26px;  
  font-weight: bolder;
  border: none;
  outline: none;
  color: none;
  text-decoration: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index:99999;
}

.dropdown:hover .dropbtn {
  background-color:none;
  z-index:99999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99999;
  overflow:auto;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 99999;
  overflow:none;
}

.dropdown-content a:hover {
  background-color: honeydew;
  z-index:99999;
  overflow:none;
}


.dropdown:hover .dropdown-content {
  display: block;
  z-index:99999;
  overflow:none;
}


/* Navigation dropdown menu end */

/* Contents' CSS START */
.content{
    font-size:22px;
    text-align:justify;
}

.subcontent{
    font-size:18px;
}

.textbox{
  position: absolute;
  top:600px;
  right:600px;
  /* background-color: rgb(0, 0, 0); */
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.p-pictorial-content-heading{
  color:rgb(56, 56, 56);
  font-size: 300%;
  font-weight: bold;
  text-align: center;
}

.span-smaller-heading{
  font-size:32px;color:
   rgb(56, 56, 56);
}

.span-smaller-text{
  font-size: 14px; color: rgb(56, 56, 56);
  text-align: center;
}
/* Contents' CSS  END */
